<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AtmServicesSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53410/AtmServices.asmx" binding="basicHttpBinding"
                bindingConfiguration="AtmServicesSoap" contract="ServiceReference1.AtmServicesSoap"
                name="AtmServicesSoap" />
        </client>
    </system.serviceModel>
</configuration>